* {
    font-family: "JetBrains Mono Medium", sans-serif;
}

.table-base {
    margin-top: 13vh;
    display: grid;
    text-align: center;
    justify-content: center;
    border-collapse: collapse;
    grid-template-columns: 100%;
    padding: 3vh;
}

td {
    width: 24vh;
    margin: 1.5vh;
    padding: 1.5vh;
}

th {
    border-bottom: 1px solid black;
    width: 24vh;
    margin: 1.5vh;
    padding: 1.5vh;
    font-size: 2.2vh;
}

tbody {
    border: 1px solid black;
    border-radius: 7px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.5);
    background: aliceblue;
}

.p\/p {
    width: 4%;
    margin: 0;
    padding: 0;
}

.title {
    border-inline: 1px solid black;
}

.description {
    border-inline: 1px solid black;
}

.vendor_code {
    border-inline: 1px solid black;
}

.date {
    border-inline: 1px solid black;
}

.author {
    border-inline: 1px solid black;
}

.custom-btn {
    border-radius: 7px;
    border: 0 solid white;
    padding: 0.3vh;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.5);
}

.new_status {
    border-radius: 7px;
    padding: 0.2vh;
    margin: 0 1vh 0 0;
}

.btn-16:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

.btn-16:active {
    top: 2px;
}


